asgiref
astroid
autopep8
click
Django
django-ckeditor
django-js-asset
isort
lazy-object-proxy
mccabe
pep517
Pillow
pip-tools
platformdirs
pycodestyle
pylint
pytz
sqlparse
toml
tomli
typing-extensions
wrapt
