{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="bannerSection">
    <div class="container">
      <div class="row g-4 g-md-3 align-items-center">
        <div class="col-md-auto order-md-last">
          <div class="bannerUserImg">
            
            {% if me.userprofile.avatar %}
              <img src="{{ me.userprofile.avatar.url }}" alt="{{ me.first_name|title }} {{ me.last_name|title }} avatar">
            {% else %}
              <img src="" alt="{{ me.first_name|title }} {{ me.last_name|title }} avatar">
            {% endif %}
              
          </div>
        </div>
        <div class="col-md">
          <div class="bannerContent">
            <!-- Título -->
            <h1 class="xlTitle pb-3">
              Olá! <br>Meu nome é {{ me.first_name|title }} {{ me.last_name|title }},<br>
              {{ me.userprofile.title|default_if_none:"TÍTULO" }}
            </h1>
            <!-- Biografia -->
            <p>{{ me.userprofile.bio|safe }}</p>
            <div class="bannerBtnCol">
              <div class="row">
                <div class="col-auto">
                  
                  {% if me.userprofile.cv %}
                    <a download href="{{ me.userprofile.cv.url }}" class="btn btnPrimary">Baixar currículo</a>
                  {% else %}
                    <a href="" class="btn btnDisabled">Baixar currículo</a>
                  {% endif %}
                    
                </div>
                <div class="col-auto">
                  <a href="{% url 'main:contact' %}" class="btn btnOutline">Contato</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <h4 class="smText regular">Projetos recentes</h4>
        </div>
      </div>
      <div class="sliderOuter">
        <div class="swiper portfolioSlider">
          <div class="swiper-wrapper">
            {% for p in portfolio %}
            {% if p.is_active %}
            <div class="swiper-slide">
              <a href="{% url 'main:portfolio' slug=p.slug %}">
                <div class="cardStyle1">
                  <h4 class="mdTitle cs1Title p-0 m-0">
                    {{ p.name }}
                  </h4>
                  <h6>
                    <p>{{ p.description }}</p>
                  </h6>
                  <p>{{ p.body|safe }}</p>
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>            
        <div class="port-swiper-button-next swiper-button-next swiperBtnStyle"></div>
        <div class="port-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="row">
        <h2 class="smText regular mb-5">Habilidades chave</h2>
          {% for sk in me.userprofile.skills.all %}
            {% if sk.is_key_skill %}
              <div class="col">
                {% if sk.image %}
                  <img src="{{ sk.image.url }}" class="float-start me-2" alt="...">
                {% endif %}
                <span class="ksText">{{ sk.name }}</span>
              </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <h4 class="smText regular">Certificados</h4>
        </div>
      </div>
      <div class="sliderOuter">
        <div class="swiper certificatesSlider">
          <div class="swiper-wrapper">
            {% for c in certificates %}
            {% if c.is_active %}
            <div class="swiper-slide">
              <a href="{{ c.url }}" target=”_blank”>
                <div class="cardStyle1 lightBg">
                  <h4 class="mdTitle cs1Title p-0 m-0">
                    {{ c.title }}
                  </h4>
                  <h6>
                    <p>{{ c.description }}</p>
                  </h6>
                  <p>Emitido por <b>{{ c.issuer }}</b></p>
                  <ul class="cardOptionCol">
                    <li>{{ c.issue_date }}</li>
                    <li>{{ c.expiration_date }}</li>
                  </ul>
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>            
        <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
        <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- ================================
End Content
================================= -->
